/* action.css */

.action {
    display: flex;                /* Faz com que os botões fiquem lado a lado */
  }
  
  .action button {
    background-color: rgb(255, 255, 255); /* Define o fundo branco */
    border: none;
    padding: 5px 10px; /* Ajuste o preenchimento conforme necessário */
    margin-right: 10px; /* Define a margem entre os botões */
    cursor: pointer;
    /* Reduza o tamanho dos botões aqui */
    width: 50px; /* Largura do botão */
    height: 30px; /* Altura do botão */
  }
  
  .action img {
    vertical-align: middle; /* Centraliza a imagem verticalmente */
  }

  