body, div, h1, p, ul, li, button {
    margin: 0px;
    padding: 5px;
    list-style: circle;

  }

  body {
    font-family: Arial, sans-serif;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    padding: 20px;
    text-align: center;
  }

  .menu button {
    width: 130px; /* Defina a largura desejada para os botões */
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #35393e;
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .menu button:hover {
    background-color: #e2e533;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  ul li {
    margin-bottom: 5px;
  }
  
  .back-button {
    margin-top: 20px;
  }

 /* standart.css */
/* ... (outras regras de estilo) */

/* Adicione as regras de estilo para a tabela aqui */
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 5px;
  margin-top: 20px;
  border: 2px solid #000;
}

th, td {
  padding: 8px;
  text-align: center;
  border: 1px solid #000;
  border-top: 2px solid #000; /* Adicione esta linha para criar uma borda superior */
  border-bottom: 2px solid #000; /* Adicione esta linha para criar uma borda inferior */
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 2px solid #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Adicione as regras de estilo para destacar as colunas aqui */
th, td {
  padding: 8px;
  text-align: center;
}

td:hover {
  background-color: #eee;
  border-top: 2px solid #000; /* Adicione esta linha para criar uma borda superior em hover */
  border-bottom: 2px solid #000; /* Adicione esta linha para criar uma borda inferior em hover */
}

/* Adicione essas regras no seu arquivo CSS (standart.css) */

/* Estilo para a tela do formulário de login do administrador */
.admin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 60vh;
  background-color: #ffffff; 
}

.admin-login-form h2 {
  font-size: 26px;
  margin-bottom: 20px;
  color: #000000; 
}

.admin-login-form input[type="text"] {
  width: 150px;
  padding: 05px;
  border: 3px solid #bcbaba; 
  margin-bottom: 10px;
}

.admin-login-form button {
  padding: 10px 20px;
  background-color: #4b4e4d; /* Cor do botão de sua escolha */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-form button:hover {
  background-color: #d4bf1f; /* Cor do botão ao passar o mouse */
} 
.admin-login-form .input-container {
  height: 60px;
  display: flex;
  gap: 20px;
}

.admin-login-form .input-container label {
  flex: 60;
}

.admin-login-form .input-container button {
  color: #000000;
  background-color: #eded5a;
  height: 30px;
  width: 30px; /* Diminui o tamanho do botão */
  font-size: 12px; /* Diminui o tamanho da fonte */
  padding: 0; /* Remove o espaço interno do botão */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login-form .input-container button:hover {
  background-color: #a7a7a3; /* Cor do botão ao passar o mouse */
} 

.divider {
  color: #d3d33c; /* Define a cor amarela */
  text-align: center; /* Centraliza o traço horizontal */
  margin: 20px 0; /* Adiciona margem para espaçamento */
}

.about {
  background-color: #f5f5f5; /* Cor de fundo */
  padding: 20px;
  margin: 20px;
  max-width: 400px; /* Largura máxima do conteúdo */
  border-radius: 10px; /* Cantos arredondados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra */
}

.about button {
  background-color: #464646; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  border-radius: 20px;
  padding: 05px 20px; /* Espaçamento interno (padding) */
  cursor: pointer;
}

.about button:hover {
  background-color: #a9a908; /* Cor de fundo do botão no hover */
}






