
.user-create-form {
  padding: 20px;
  border: 1px solid #3498db; 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 


  background-color: #8da5bf;
  color: #edecec;
  padding: 50px;
  text-align: center;
}

.user-create-form h2 {
  color: #fbfbfb; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333; 
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.form-check-input {
  margin-left: 5px;
}

.btn-primary {
  background-color: #3498db;
  color: #fff; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2980b9; 
}

.btn-secondary {
  background-color: #ecf0f1;
  color: #333; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.popup {
  background-color: #3498db; 
  color: #fff; 
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.popup button {
  background-color: #2980b9;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
